language: groovy

jdk:
- oraclejdk7

branches:
  only:
  - master

before_install:
- rm -rf ~/.gvm
- curl -s get.gvmtool.net > ~/install_gvm.sh
- chmod 775 ~/install_gvm.sh
- ~/install_gvm.sh
- echo "gvm_auto_answer=true" > ~/.gvm/etc/config
- source ~/.gvm/bin/gvm-init.sh
- GRAILS_VERSION=`grep '^app\.grails\.version=' ./application.properties | sed -e
  's/^app\.grails\.version=//g'`
- gvm install grails $GRAILS_VERSION || true

branches:
  only:
  - master

script:
  - grails clean && grails refresh-dependencies --non-interactive && grails test-app --non-interactive --stacktrace

notifications:
  email:
    recipients:
      - benjamin.muschko@gmail.com
      - aruizca@gmail.com
