<plugin name='google-visualization' version='0.2' grailsVersion='1.2 &gt; *'>
  <author>Benjamin Muschko</author>
  <authorEmail>benjamin.muschko@gmail.com</authorEmail>
  <title>Google Visualization API Plugin</title>
  <description>\
This is a plugin for Google Visualization API. 
</description>
  <documentation>http://www.grails.org/plugin/google-visualization</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>org.grails.plugins.google.visualization.DeprecatedController</resource>
    <resource>org.grails.plugins.google.visualization.FormatterController</resource>
    <resource>org.grails.plugins.google.visualization.GoogleVisualizationTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>