<plugin name='google-visualization' version='0.5.5' grailsVersion='1.2 &gt; *'>
  <author>Benjamin Muschko</author>
  <authorEmail>benjamin.muschko@gmail.com</authorEmail>
  <title>Google Visualization API Plugin</title>
  <description>This is a plugin for Google Visualization API.</description>
  <documentation>http://www.grails.org/plugin/google-visualization</documentation>
  <type>GoogleVisualizationGrailsPlugin</type>
  <resources>
    <resource>org.grails.plugins.google.visualization.GoogleVisualizationTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>